@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Satisfy&display=swap');

.header-container{
    font-family: 'Outfit';
    height: 35vw;
    background-image: url(./header1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px auto;
    color: white;
    position: relative;
    border-radius: 2vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header{
    
    border-radius: 1vw;
    padding: 3vw 4vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vw;
    max-width: 45vw;
    width: 100%;
    margin: 0 3vw 3vw 0;
    font-family: 'Outfit';
    /* box-shadow: 0 4px 32px rgba(0,0,0,0.15); */
}

.header h1{
    font-family: 'Satisfy', cursive;
    font-weight: 700;
    font-size: max(3vw, 32px);
    text-align: right;
    margin: 0;
    line-height: 1.1;
    max-width: 100%;
}

.header p{
    font-family: 'Outfit',cursive;
    font-size: max(1.3vw, 18px);
    /* text-align: right; */
    max-width: 100%;
    margin: 0;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
}

.button {
  width: 180px;
  height: 40px;
  background-image: linear-gradient(rgb(160, 32, 32),rgb(131, 29, 29));
  border: none;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  box-shadow: 1px 3px 0px rgb(196, 78, 78);
  transition-duration: .3s;
  margin-top: 1vw;
}

.cartIcon {
  width: 14px;
  height: fit-content;
}

.cartIcon path {
  fill: white;
}

.button:active {
  transform: translate(2px ,0px);
  box-shadow: 0px 1px 0px rgb(139, 113, 255);
  padding-bottom: 1px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .header-container {
        height: 60vw;
        min-height: 300px;
        border-radius: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .header {
        max-width: 90%;
        padding: 20px;
        align-items: center;
        text-align: center;
    }
    
    .header h1 {
        font-size: 28px;
    }
    
    .header p {
        font-size: 16px;
    }
    
    .button {
        margin: 15px auto 0;
    }
}
@media (max-width: 576px) {
    .header-container {
        height: 60vw;
        min-height: 300px;
        border-radius: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-position:start;
    }
    
    .header {
        max-width: 90%;
        padding: 20px;
        align-items: center;
        text-align: center;
    }
    
    .header h1 {
        font-size: 20px;

    }
    
    .header p {
        font-size: 12px;
    }
    
    .button {
        margin: 15px auto 0;
    }
}